<div class="container">
  <div class="box">
    <h1>let's play</h1>
    <div class="board">
      <div class="halfboard">
        <div>
          <span *ngFor="let field of getOuterRow(0)">({{field.getID()}}|{{field.getStones()}})</span>
        </div>
        <div>
          <span *ngFor="let field of getInnerRow(0)">({{field.getID()}}|{{field.getStones()}})</span>
        </div>
      </div>

      <div class="halfboard">
        <div>
          <span *ngFor="let field of getInnerRow(1)">({{field.getID()}}|{{field.getStones()}})</span>
        </div>

        <div>
          <span *ngFor="let field of getOuterRow(1)">({{field.getID()}}|{{field.getStones()}})</span>
        </div>
      </div>
    </div>
  </div>
</div>
