@import "../../_mixins.scss";

.box {
  @include centeredContainer(50%);
}

h1 {
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
  margin-top: 1px;
  margin-bottom: 1px;
}

.halfboard {
  margin: auto;
  width: 510px;
}
