@import "../../_mixins.scss";

div.container {
  @include  centeredContainer(50%);
}

span.name {
  font-weight: bold;
}

div.addPlayer {
  @include centeredContainer(80%);
  label {
    margin-right: 10px;
  }
  input {
    margin-right: 10px;
  }
}
