
@mixin NoPadding {
  margin: 0;
  padding: 0;
}


@mixin SansSerif {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@mixin titleFont {
  font-size: 3rem;
  font-weight: 400;
  color: #212529;
}

@mixin fullWidthContainer {
  box-sizing: border-box;
  width: 100%;
}

@mixin centeredContainer($width) {
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

.box {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  h1 {
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
