
@mixin NoPadding {
  margin: 0;
  padding: 0;
}


@mixin SansSerif {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@mixin titleFont {
  font-size: 3rem;
  font-weight: 400;
  color: #212529;
}
